#headerDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(226, 226, 226);
}
#leftHeader{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}

#rightHeader{
    display: flex;
    gap: 10px;
}